.login-form__container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 0px #333;
    width: 400px;
    height: 500px;
}

.login-form div input {
    width: 100%;
    height: 40px;
}

.login-form div {
    font-size: 1.3rem;
    width: 90%;

}

.login-form button {
    width: 90%;
}

.logo {
    width: 200px;
    height: 200px;
}